# Python Tutorial: Data Analysis with FIES Dataset


This tutorial demonstrates basic data analysis using Python. It is based on the provided Family Income and Expenditure Survey (FIES) dataset.
We will cover the following topics:

1. Loading Data
2. Describing Data
3. Generating New Variables
4. Recoding Variables
5. Tabulating Data
6. Cross-tabulation
7. Summarizing Data
8. Summarizing Data by Groups

## 1. Loading Data

In [2]:

import pandas as pd

# Load the dataset
file_path = '2021FIESvol1_puf_SELECTED.dta' #CHANGE this part depending on where the file is located
fies_data = pd.read_stata(file_path)

# Display the first few rows of the dataset (default is 5 rows)
fies_data.head(6)

# Display the last few rows of the dataset (default is 5 rows)
fies_data.tail(6)

,W_REGN,W_PROV,SEQUENCE_NO,FSIZE,REG_SAL,SEASON_SAL,WAGES,NETSHARE,CASH_ABROAD,CASH_DOMESTIC,...,HOUSING_WATER,IMPUTED_RENT,NFOOD,TOTEX,TOTDIS,URB,PCINC,FOODoTOTEX,lnTOINC,lnNFOOD
165023,Region IVB - MIMAROPA,Romblon,165024,4.0,0,0,0,0,9000,55000,...,29628,24000,48380,105379,105379,2,26827.500,0.540895,11.583477,10.786841
165024,Region IVB - MIMAROPA,Romblon,165025,1.0,0,0,0,0,26000,4200,...,8730,6000,17190,34739,45239,2,46524.000,0.505167,10.747724,9.752083
165025,Region IVB - MIMAROPA,Romblon,165026,5.0,0,0,0,0,0,0,...,21900,18000,53375,119894,119894,2,24656.000,0.554815,11.722214,10.885098
165026,Region IVB - MIMAROPA,Romblon,165027,3.0,55050,54900,109950,0,0,15500,...,15600,12000,69776,102449,142949,2,47986.668,0.318920,11.877291,11.153046
165027,Region IVB - MIMAROPA,Romblon,165028,8.0,0,3600,3600,0,5000,37800,...,11460,9600,38908,108158,132158,2,16493.750,0.640267,11.790178,10.568955
165028,Region IVB - MIMAROPA,Romblon,165029,4.0,0,69900,69900,0,0,17800,...,19500,12000,52404,103214,137114,2,34296.250,0.492278,11.829085,10.866738

## 2. Describing Data

In [3]:

# Check the structure of the dataset, variable data types, and missing values
fies_data.info()

# Generate descriptive statistics
# fies_data.describe()

# Shape of the dataset (number of rows and columns)
# fies_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165029 entries, 0 to 165028
Data columns (total 32 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   W_REGN         165029 non-null  category
 1   W_PROV         165029 non-null  category
 2   SEQUENCE_NO    165029 non-null  int32
 3   FSIZE          165029 non-null  float64
 4   REG_SAL        165029 non-null  int32
 5   SEASON_SAL     165029 non-null  int32
 6   WAGES          165029 non-null  int32
 7   NETSHARE       165029 non-null  int32
 8   CASH_ABROAD    165029 non-null  int32
 9   CASH_DOMESTIC  165029 non-null  int32
 10  RENTALS_REC    165029 non-null  int32
 11  INTEREST       165029 non-null  int32
 12  PENSION        165029 non-null  int32
 13  DIVIDENDS      165029 non-null  int32
 14  OTHER_SOURCE   165029 non-null  int32
 15  NET_RECEIPT    165029 non-null  int32
 16  EAINC          165029 non-null  int32
 17  TOINC          165029 non-null  int32
 18  ALCOHOL        165029 non-null  int32
 19  TOBACCO        165029 non-null  int32
 20  FOOD           165029 non-null  int32
 21  HEALTH         165029 non-null  int32
 22  HOUSING_WATER  165029 non-null  int32
 23  IMPUTED_RENT   165029 non-null  int32
 24  NFOOD          165029 non-null  int32
 25  TOTEX          165029 non-null  int32
 26  TOTDIS         165029 non-null  int32
 27  URB            165029 non-null  int8
 28  PCINC          165029 non-null  float64
 29  FOODoTOTEX     165029 non-null  float32
 30  lnTOINC        165029 non-null  float32
 31  lnNFOOD        165029 non-null  float32
dtypes: category(2), float32(3), float64(2), int32(24), int8(1)
memory usage: 20.0 MB

## 3. Generating New Variables

In [4]:

# Add a new variable: Per Capita Total Expenditure
fies_data['PC_TOTEX'] = fies_data['TOTEX'] / fies_data['FSIZE']

# Preview the updated dataset
fies_data[['TOTEX', 'FSIZE', 'PC_TOTEX']].head()

    TOTEX  FSIZE       PC_TOTEX
0  350404    6.5   53908.307692
1  231900    4.0   57975.000000
2  147510    1.0  147510.000000
3  153456    3.0   51152.000000
4  229692    4.0   57423.000000

## 4. Recoding Variables

In [6]:
fies_data['URB']

# Recode the 'URB' variable into a new variable: 'Urban_Rural'
fies_data['Urban_Rural'] = fies_data['URB'].replace({1: 'Urban', 2: 'Rural'})

# Check the recoded variable
fies_data[['URB', 'Urban_Rural']].head()

   URB Urban_Rural
0    2       Rural
1    2       Rural
2    2       Rural
3    2       Rural
4    2       Rural

## 5. Tabulating Data

In [7]:

# Frequency table of the 'Urban_Rural' variable
fies_data['HEALTH'].value_counts()

HEALTH
0        490
300      349
250      347
200      337
400      337
        ...
23274      1
17830      1
35300      1
41430      1
65978      1
Name: count, Length: 24007, dtype: int64

## 6. Cross-tabulation

In [8]:

# Cross-tabulation of 'Urban_Rural' and "W_REGN"
pd.crosstab(fies_data['W_REGN'],fies_data['Urban_Rural'], )

Urban_Rural                           Rural  Urban
W_REGN
Region I - Ilocos Region               5138   1110
Region II - Cagayan Valley             5483   1254
Region III - Central Luzon             5282   8003
Region IVA - CALABARZON                3063   5212
Region V- Bicol                        7253   1660
Region VI - Western Visayas            6596   4891
Region VII - Central Visayas           3868   5343
Region VIII - Eastern Visayas          8383   2115
Region IX - Zamboanga Peninsula        3985   2824
Region X - Northern Mindanao           4747   5242
Region XI - Davao                      4634   4588
Region XII - SOCCSKSARGEN              3693   4605
National Capital Region                   0  21689
Cordillera Administrative Region       6852   2694
Autonomous Region in Muslim Mindanao   6741   1471
Region XIII - Caraga                   4378   3240
Region IVB - MIMAROPA                  5731   3261

## 7. Summarizing Data

In [9]:

# Summarize the 'PC_TOTEX' variable
fies_data['PC_TOTEX'].describe()

count    1.650290e+05
mean     6.062728e+04
std      6.188515e+04
min      3.832286e+03
25%      2.835600e+04
50%      4.369933e+04
75%      7.152000e+04
max      4.818150e+06
Name: PC_TOTEX, dtype: float64

In [ ]:
fies_data.shape

(165029, 34)

## 8. Summarizing Data by Groups

In [10]:

# Summarize 'PC_TOTEX' by 'Urban_Rural'
#fies_data.groupby('W_REGN')['PC_TOTEX'].mean()


fies_data.groupby('W_REGN')['PC_TOTEX'].mean().sort_values(ascending=False)

/var/folders/6c/wrrn1gpx26q5r1jr0h59sb5h0000gn/T/ipykernel_4409/2486097468.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  fies_data.groupby('W_REGN')['PC_TOTEX'].mean().sort_values(ascending=False)

W_REGN
National Capital Region                 91086.251050
Region IVA - CALABARZON                 74371.366868
Region III - Central Luzon              73754.625326
Cordillera Administrative Region        64843.031167
Region I - Ilocos Region                62137.168147
Region VI - Western Visayas             61343.620445
Region II - Cagayan Valley              60609.380325
Region VII - Central Visayas            59621.566257
Region VIII - Eastern Visayas           54876.817117
Region IVB - MIMAROPA                   52399.936002
Region XIII - Caraga                    51197.835479
Region X - Northern Mindanao            50786.702549
Region V- Bicol                         48651.878414
Region XI - Davao                       47750.246947
Region XII - SOCCSKSARGEN               46451.497936
Region IX - Zamboanga Peninsula         43261.450208
Autonomous Region in Muslim Mindanao    32444.994263
Name: PC_TOTEX, dtype: float64